<div style="margin-right: 35%; width: 30vw; margin-top: 2rem; font-size: large; color:#075659">
    <h1 class="title">בחר את הנושא הרצוי</h1>
    <button routerLink="/questions/personal" class="subject-btn" mat-raised-button>ראיון אישי</button>
    <br>
    <br>
    <button routerLink="/questions/angular2" class="subject-btn" mat-raised-button>anglar2</button>
    <br>
    <br>
    <button routerLink="/questions/cSharp" class="subject-btn" mat-raised-button>C#</button>
    <br>
    <br>
    <button routerLink="/questions/nodeJs" class="subject-btn" mat-raised-button>node.js</button>
    <br>
    <br>
    <button routerLink="/questions/sql" class="subject-btn" mat-raised-button>sql</button>
</div>