<div style="margin-right: 40%;">
    <h1 class="title">חידת אלגוריתמים</h1>
    <p class="subject-p">ממש תור באמצעות 2 מחסניות תור הינו מבנה נתונים FIFO- First In First Out הראשון שנכנס
        הוא הראשון שיוצא. ואילו מחסנית הינה מבנה נתונים LIFO- Last In First Out האחרון שנכנס הוא הראשון שיוצא.
        ממש את הפונקציות enqueue - הכנסת איבר לתור והפונקציה dequeue - הסרת איבר מהתור.
    </p>
    <button mat-raised-button style="left: 50%; position: absolute; bottom: 5rem; width: 10rem; background: #075660;
    color: #fff;">מעבר לפתרון</button>
</div>