<div style="margin-right: 35%; width: 30vw; margin-top: 2rem; font-size: large; color:#075659">
    <h1 class="title">הנושא הרצוי</h1>
    <div style="display: grid;">
        <span>האם סיימת את הנושא?</span>
        <mat-form-field class="example-full-width">
            <input matInput style="color: black; direction: rtl; text-align: right;">
        </mat-form-field>
        <span>האם תרגלת בנושא?</span>
        <mat-form-field class="example-full-width">
            <input matInput style="color: black; direction: rtl; text-align: right;">
        </mat-form-field>
        <span>מה התחדש לך?</span>
        <mat-form-field class="example-full-width">
            <input matInput style="color: black; direction: rtl; text-align: right;">
        </mat-form-field>
    </div>
</div>