<div style="margin-right: 35%; width: 30vw; margin-top: 2rem; font-size: large; color:#075659">
    <h1 class="title">קורות חיים</h1>
    <div style="display: grid;">
        <div style="display: grid;">
            <span>חברה:</span>
            <mat-form-field class="example-full-width">
                <input [(ngModel)]="cvDetails.company" matInput
                    style="color: black; direction: rtl; text-align: right;">
            </mat-form-field>
        </div>
        <div style="display: grid;">
            <span>תפקיד:</span>
            <mat-form-field class="example-full-width">
                <input [(ngModel)]="cvDetails.job" matInput style="color: black; direction: rtl; text-align: right;">
            </mat-form-field>
        </div>
        <div style="display: grid;">
            <span>מה ידוע לך על החברה?</span>
            <mat-form-field class="example-full-width">
                <input [(ngModel)]="cvDetails.details" matInput
                    style="color: black; direction: rtl; text-align: right;">
            </mat-form-field>
        </div>
        <div style="display: grid;">
            <span>האם יצרו קשר?</span>
            <mat-form-field class="example-full-width">
                <input [(ngModel)]="cvDetails.contact" matInput
                    style="color: black; direction: rtl; text-align: right;">
            </mat-form-field>
        </div>
        <button mat-raised-button style="background: #075660; color: #fff;" (click)="addCompanySendCV()">
        +</button>
        <button mat-raised-button (click)="saveDetails()"
            style="width: 11.5rem; background: #075660; color: #fff; margin-right: 8.5rem; bottom: 4rem; position: fixed;">
        שמור</button>
    </div>
</div>