.title{
    text-align: center;
    font-size: larger;
    width: 60%;
    margin-top: 5%;
    color: #075659;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-right: 20%;
}


.subject-btn{
    color: #075659;
    font-size: large;
    margin-bottom: 1rem;
    padding: 0.2rem 1rem;
    width: 60%;
    margin-right: 20%;
}