<div style="margin-right: 35%; width: 30vw; margin-top: 2rem; font-size: large; color:#075659">
    <h1 class="title">משימות יומיות</h1>
    <h1 class="title">עם מה תרצה להתחיל?</h1>
    <button (click)="openAlgorithms()" class="subject-btn" mat-raised-button>חידת אלגוריתמים</button>
    <br>
    <button (click)="openInterview()" class="subject-btn" mat-raised-button>שאלות מראיונות עבודה</button>
    <br>
    <button (click)="openCV()" class="subject-btn" mat-raised-button>שליחת קורות חיים</button>
    <br>
    <button (click)="openLearn()" class="subject-btn" mat-raised-button>ללמוד משהו חדש</button>
    <br>
    <button (click)="openCode()" class="subject-btn" mat-raised-button>כתיבת קוד שעה</button>
</div>