<div style="margin-right: 35%; width: 30vw; margin-top: 2rem; font-size: large; color:#075659">
    <h2 class="title">איפוס סיסמה</h2>
    <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
        <div style="display: grid; margin-top: 3rem;" class="form-group"
            [ngClass]="{'has-error': f.submitted && !email.valid}">
            <label for="email">הכנס כתובת מייל</label>
            <mat-form-field>
                <input matInput style="color: black; direction: rtl; text-align: right;" type="text"
                    class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required />
                <mat-error *ngIf="f.submitted && !email.valid" style="text-align: right;">
                    כתובת המייל הינה חובה</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group" style="margin-top: 1rem;">
            <button style="width:100%; margin-bottom: 2rem;" type="submit" [disabled]="loading" class="subject-btn"
                mat-raised-button>איפוס סיסמה</button>
            <!-- <div *ngIf="loading">מתחבר...</div> -->
        </div>
    </form>
</div>