<p>
    <mat-toolbar style="background: #075659;" color="primary">
        <span style="margin-right: 33px; font-weight: bold; font-size: x-large;">חיפוש עבודה</span>
        <button routerLink="/tasks" mat-raised-button
            style="width: 8rem; background: #075660; color: #fff; margin-right: 3rem;">
            משימות יומיות
            <i class="fa fa-tasks" aria-hidden="true"></i>
        </button>
        <button routerLink="/management" mat-raised-button
            style="width: 8rem; background: #075660; color: #fff; margin-right: 2rem;">
            ניהול החיפוש
            <i class="fa fa-cog" aria-hidden="true"></i>
        </button>
        <button routerLink="/tasks/interview" mat-raised-button
            style="width: 11.5rem; background: #075660; color: #fff; margin-right: 2rem;">
            שאלות מראיונות עבודה
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        </button>
        <button routerLink="/tracking" mat-raised-button
            style="width: 10rem; background: #075660; color: #fff; margin-right: 2rem;">
            מעקב התקדמות
            <i class="fa fa-list-alt" aria-hidden="true"></i>
        </button>
        <div style="position: fixed; left: 1rem;">
            <button routerLink="/login" mat-raised-button
                style="width: 5rem; background: #075660; color: #fff; margin-right: 2rem;">
                התחבר
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </button>
            <button routerLink="/register" mat-raised-button
                style="width: 5rem; background: #075660; color: #fff; margin-right: 1rem;">
                הירשם
                <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>
        </div>
    </mat-toolbar>
</p>